.container {
    position: relative;
    width: auto;
    max-width: 400px;
}



.container .btn2 {
    position: absolute;
    top: 5%;
    left: 95%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #black;
    color: white;
	opacity:0.85;
    font-size: 26px;
    padding: 4px 6px;
    border: none;
    cursor: pointer;
    border-radius: 0px;
    text-align: center;
}

.container .btn2:hover {
    background-color: black;
}
.is-blurred {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}
 .modal-backdrop { background-color: black;
opacity:.75 }